.amazoncart{
    padding-top: 20px;
    display: flex;
    gap: 16px;
}

.shoppingcart{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    width: 85%;
    background-color: white;
    border-radius: 8px;
}

.ordersummary{
    padding: 16px;
    width: 15%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.m-0{
    margin: 0px;
}

.carttile{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-bottom: 1px solid #f3f4f6;
}

.item-image{
    height: 60px;
    width: 60px;
}

.itemdetails{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.item{
    display: flex;
    flex-direction: column;
    gap:8px
}

.orderItems{
    display: flex;
    justify-content: space-between;
}

.success-btn{
    background-color: #facc14;
    border-radius: 4px;
    padding: 8px 10px;
    width: 100%;
    border: none;
}

.link-btn{
    border: none;
    width: fit-content;
    background-color: transparent;
    color: blueviolet;
    padding: 0px;
}

.quantitycontainer{
    display: flex;
    gap: 4px;
}

.modalPopup{
    height: 220px;
    width: 440px;
    margin: 1px auto;
}

.closeBtn{
    background-color: blueviolet;
    color: white;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}